body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ReqBox{
  margin-top: 50px;
  padding: 5px 10px;
  /* border: 1px solid black;
  border-radius: 5px; */
}
.ReqBoxLabel{
  display: inline-block;
  line-height: 32px;
}
.selectBox{
  margin-bottom: 10px;
}
.selectItem{
  margin: 0 5px;
}
.reqdate{
  margin-bottom: 10px;
  display: flex;
}
.ReqArea{
  display: inline-block;
  width: 400px;
  height: 100px;
}
.responBox{
  padding-top: 20px;
  margin-top: 20px;
}
.responBox>div{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}